@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html body{
    margin: 0;
}
.wrapper {
    margin: 20px 20px;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    width: 99%;
    border: solid 3px #f1f1f1;
    border-radius: 20px;
}

.header-logo {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    gap: 60px;
}

.header-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-nav__item {
    list-style: none;
    font-size: 16px;
}

.header-nav__item a {
    text-decoration: none;
    color: #000;
}

.header-nav__button {
    background-color: #38ADFD;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    gap: 50px;
    justify-content: center;
}

.hero-section__inner {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-left: 100px;
}

.hero-section__title {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.hero-section__product {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.hero-section__description {
    font-size: 16px;
    color: #566375;
    margin: 20px 0;
}

.hero-section__image {
    display: flex;
    position: relative;
    padding-right: 160px;
}

.hero-section__image__1 {
    width: 400px;
}

.hero-section__image__2 {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: -100px;
}

.hero-section__button__experience {
    background-color: #38ADFD;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.hero-section-feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-top: 80px;
}

.hero-section__card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
}
.hero-section__card__title { 
    font-size: 20px;
    margin-bottom: 0;
}

.hero-section__card__description {
    font-size: 16px;
    color: #566375;
    margin: 20px 0;
    text-align: center;
}

.feature-title {
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0;
    margin-left: 50px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.feature-list__card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 546px;
    padding: 20px;
    margin: 10px;
}

.feature-list__image {
    width: 100%;
    height: 300px;
    background-color: #566375;
}

.feature-list__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.feature-list__sub__title {
    font-size: 16px;
    font-weight: 400;
}

.feature-list__description {
    font-size: 16px;
    color: #566375;
    margin: 20px 0;
}

.experience-flow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

.experience-flow__title {
    color: #38ADFD;
    font-size: 16px;
    font-weight: bold;
}

.experience-flow__sub__title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.experience-flow__description {
    font-size: 16px;
    color: #566375;
    margin: 20px 0;
}
.experience-flow__inner {
    margin-left: 100px;

}
.experience-flow__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.experience-flow__step__number {
    background-color: #38ADFD;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-flow__image {
    border: solid 2px #566375;
    width: 500px;
}

.experience-flow__image img {
    width: 500px;
    height: 500px;
}

.experience-flow__step__title {
    font-size: 14px;
    color: #566375;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .hero-section__inner {
        margin-left: 0;
    }
    .hero-section {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .hero-section__button {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
    .hero-section__image__1{
        width: 300px;
    }
    .hero-section__image__2 {
        display: none;
    }
    .hero-section__image {
        padding-right: 0px;
        margin: 0 auto;
    }
    .hero-section-feature {
        gap: 40px;
    }
    .feature-title {
        margin-left: 10px;
    }
    .experience-flow {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .experience-flow__inner {
        margin-left: 20px;
    }
    .experience-flow__image {
        margin: 0 auto;
    }
    .experience-flow__image {
        width: 375px;
        height: 375px;
    }
    .experience-flow__image img {
        width: 375px;
        height: 375px;
    }
}